@model appointment_backend.Models.Doctor

@{
    ViewData["Title"] = "Editar Doctor";
}

<h2 class="mb-4">Editar Información del Doctor</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label for="DocumentTypeId" class="form-label fw-semibold">Tipo de Documento (ID)</label>
                           
        <select name="DocumentTypeId" class="form-select" required>
           
            @if (ViewBag.DocumentTypes != null)
            {
                foreach (var tipo in ViewBag.DocumentTypes)
                {
                    <option value="@tipo.Id">@tipo.Type</option>
                }
            }
        </select>
        @* <td>@doctor.DocumentType.Type</td> *@
        @* <td>@doctor.Speciality.Name</td> *@
    </div>
    <div class="mb-3">
        <label for="SpecialityId" class="form-label fw-semibold">Especialidad (ID)</label>
        <select name="SpecialityId" id="SpecialityId" class="form-select" required>
            
            @foreach (var esp in ViewBag.Specialities)
            {
                <option value="@esp.Id">@esp.Name</option>
            }
        </select>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Phone" class="form-label">Teléfono</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label">Correo Electrónico</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>